body {
    background-color: rgb(110, 212, 120);
    box-sizing:border-box;
    margin:0;
    padding:0;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 250px;
    padding-right: 30px;
    padding-bottom: 250px;
    padding-left: 40px;


}


  #main-navbar {
    font: 1.15em;
    background: #444;
  }
  
  #main-navbar ul {
    margin: 0;
    padding: 0;
  }
  
  #main-navbar li {
    display: inline-block;
    padding: 10px 20px;
  }
  
  #main-navbar li a {
    text-decoration: none;
    color: #EDA51A;
  }
  
  #main-navbar li a:hover {
    padding-bottom: 3px;
    color: #222;
  }
  