<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddUsrs</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'addusers.css')}}">
</head>
<body>
    <nav id="main-navbar">
        <ul>
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('view')}}">View</a></li>
          <li><a href="{{url_for('addUser')}}">AddUsers</a></li>
          <li><a href="{{url_for('deleteUser')}}">DeleteUser</a></li>
        </ul>
      </nav>
    <h1>Add New User Page</h1>
    <form action="" method="post">
        <label>Name:</label>
        <input type="text" name="name" required>
        <label>Age:</label>
        <input type="tetx" name="age" required>
        <label>Vaccinename:</label>
        <input type="text" name="vaccinename" required>
        <input type="submit" value="Save Data">
    </form>
</body>
</html>