<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view Data</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'view.css')}}">
</head>
<body>
    <nav id="main-navbar">
        <ul>
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('view')}}">View</a></li>
          <li><a href="{{url_for('addUser')}}">AddUsers</a></li>
          <li><a href="{{url_for('deleteUser')}}">DeleteUser</a></li>
        </ul>
      </nav>
    <h1>Data's Of Vaccinated Pepole's</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>VaccineName</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.vaccinename}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>